<div class="mt-5">
  <ng-container *ngIf="isLoading$ | async">
    <div class="text-center mt-5">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="(isLoading$ | async) === false">
    <div class="text-right">
      Sort by Price:
      <button type="button" (click)="sortProducts()" class="btn btn-link">
        Sort A-Z
      </button>
    </div>
    <div class="card-deck mt-5">
      <ng-container *ngFor="let product of products$ | async; let num = index">
        <div class="card shadow">
          <img
            (click)="showDetail(product)"
            class="card-img-top"
            src="{{ 'assets/images/' + product.imagePath }}"
            alt="Card image cap"
          />

          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">
              {{ product.detail }}
              <span class="ml-3">
                <button
                  (click)="showDetail(product)"
                  class="btn btn-sm btn-outline-success rounded-pill"
                >
                  <i class="fa fa-info-circle" aria-hidden="true"></i> Show
                  Detail
                </button>
              </span>
            </p>

            <div class="row">
              <div class="col">
                <span class="text-primary float-left">
                  {{ product.price | currency: "GBP" }}
                </span>
              </div>
              <div class="col text-right">
                <a class="btn btn-default" (click)="addToBasket(product)">
                  <img
                    class="card-img-top text-primary"
                    height="20"
                    width="20"
                    src="assets/images/shopping-basket.svg"
                    alt="show basket"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- <app-product-list-item [product]="p"></app-product-list-item> -->
      </ng-container>
    </div>
  </ng-container>
</div>
