
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
                        <div class="mt-5 mb-5">
                            <button class="btn btn-primary rounded-pill" routerLink="/products">
                                Continue Shopping
                                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                              </button>
                        </div>
					 </div>	
				</div>
				<div class="panel-body" *ngFor="let item of items">
					<div class="row">
						<div class="col-md-2"><img class="img-responsive" src="{{ 'assets/images/' + item.product.imagePath }}" height="100" width="100" >
						</div>
						<div class="col-md-2">
							<h4 class="product-name"><strong>{{item.product.name}}</strong></h4>
						</div>
						
                        <div class="col-md-2">
							<h6><strong>£{{item.product.price | number: '.2-2' }} <span class="text-muted">x</span></strong></h6>
						</div>
                        
                        <div class="col-md-2">
							<input type="number" class="form-control input-sm" [value]= "item.quantity" (change)="updateItem(item, $event)">
						</div>

                        <div class="col-md-2">
							<h6><strong>£{{(item.product.price * item.quantity) | number: '.2-2' }} </strong></h6>
						</div>

                        <div class="col-md-2">
							<button type="button" class="btn btn-link btn-xs" (click)="removeItem(item)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
						</div>
					</div>
					<hr>
				</div>
                <div class="panel-body" *ngIf="items.length == 0">
                    <span>Not Items in the basket</span>        
                </div>

				<div class="panel-footer" *ngIf="items.length > 0">
					<div class="row" >
						<div class="col-md-6">
							<h4 class="text-right">Total</h4>
						</div>
                        <div class="col-md-2">
							<h4><strong>{{totalQuantity}}</strong></h4>
						</div>
                        <div class="col-md-4">
							<h4><strong>£{{total | number: '.2-2'}}</strong></h4>
						</div>
					</div>
                    <div class="row">
                        <div class="mt-5">
                            <button class="btn btn-primary rounded-pill" routerLink="/products">
                                Checkout
                                <i class="fa fa-check" aria-hidden="true"></i>
                              </button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>